<h1 class="text-danger text-center my-5">Angular Projects</h1>
<div class="container my-5">
  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading text-success">Flower Card Project</h2>
      <p class="lead">Its a simple flower card project using Angular 12,I have used an external API to get the data about various flowers and also shown the details.</p>
      <button class="btn btn-lg btn-info btn-outline-dark" (click)="ongtp('/flowercard')">Go To Project</button>
    </div>
    <div class="col-md-6">
      <img  title="Flower Card Project" class="featurette-image img-fluid mx-auto shadow border border-info rounded" data-src="holder.js/500x500/auto" alt="500x500" style="width: 550px; height: 400px;" src="https://i.pinimg.com/originals/6f/9c/a8/6f9ca89f70963f07c4e665b1efb938e6.gif" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading text-success">Angular Reactive Form</h2>
      <p class="lead">This is a Reactine form project using Angular 12.</p>
      <button class="btn btn-lg btn-info btn-outline-dark" (click)="ongtp('/mrfcom')">Go To Project</button>
    </div>
    <div class="col-md-6 order-md-1">
      <img title="Angular Reactive Form" class="featurette-image img-fluid mx-auto shadow border border-danger rounded" data-src="holder.js/500x500/auto" alt="500x500" src="https://miro.medium.com/max/1200/1*iuUWR00VpsPyJ-qS7UIJNQ.gif" data-holder-rendered="true" style="width: 550px; height: 400px;">
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-6">
      <h2 class="featurette-heading text-success">Fetch And Populate data from API</h2>
      <p class="lead">In this project data is featching from api and displaying in webpage.</p>
      <button class="btn btn-lg btn-info btn-outline-dark" (click)="ongtp('/getapidt')">Go To Project</button>
    </div>
    <div class="col-md-6">
      <img title="Fetch And Populate data from API" class="featurette-image img-fluid mx-auto shadow  border border-primary rounded" data-src="holder.js/500x500/auto" alt="500x500" src="http://awzpact.com/uploads/editor/Desktop%20app.gif" data-holder-rendered="true" style="width: 550px; height: 400px;">
    </div>
  </div>


  
  <hr class="featurette-divider">


  <div class="row featurette">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading text-success">Dynamic Dropdown</h2>
      <p class="lead">This is a Dynamic Dropdown component created using Angular 12.</p>
      <button class="btn btn-lg btn-info btn-outline-dark" (click)="ongtp('/mydropdown')">Go To Project</button>
    </div>
    <div class="col-md-6 order-md-1">
      <img class="featurette-image img-fluid mx-auto shadow  border border-primary rounded" data-src="holder.js/500x500/auto" alt="500x500" src="https://cdn.dribbble.com/users/70623/screenshots/2120918/dribbble_shot.gif" data-holder-rendered="true" style="width: 550px; height: 400px;">
    </div>
  </div>

</div>






